<!DOCTYPE html>
<html ng-app="labelEditor">
<head>
    <title></title>
</head>
<body>


    <div ng-controller="labelCollection as vm">

        <ul>
            <li ng-repeat="label in vm.sequence">

                <span contenteditable
                      ng-model="label.Text"
                      ng-change="vm.update(label)"
                      class="ColorLabel"
                      ng-model-options="{debounce:250}"
                      ng-style="{'background-color' : label.Color}">{{label.Text}}</span> 
            </li>
        </ul>

        <div>
            New Label:
            <form class="form-inline">

                <label for="colorValue">Color:</label>
                <input type="color" ng-model="vm.newColorValue" />

                <label for="labelMessage">Message:</label>
                <input type="text" ng-model="vm.newLabelValue" />

                <button ng-click="vm.addColor()">Add Label</button>

            </form>

        </div>


    </div>

   

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="App_Scripts/labelEditor.js"></script>
    <script src="App_Scripts/contentEditable.js"></script>
    <script src="App_Scripts/labelCollection.js"></script>   
    <script src="App_Scripts/labelDataService.js"></script>

</body>
</html>
